html, body {
  height: 99%;
  background-color: #FF5722;
}
#myCanvas {
    height: 100%;
    width: 100%;
    background-color: #009688;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}
